body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.video-line {
  width: 100%;
  background: #09f;
  height: 500px;
  margin-top: 90px;
}
.flexible-menu {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.item {
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px;
  background: #ff5722;
  color: #fff;
}
.item:hover {
  background: #2371d2;
}
.item:nth-of-type(2) {
  animation-delay: .3s;
}
.item:nth-of-type(3) {
  animation-delay: .6s;
}
.item:nth-of-type(4) {
  animation-delay: .9s;
}
.logo {
  margin-top: -275px;
}
.logo img {
  display: block;
  margin: 50px auto;
}
.content-page {
  min-width: 900px;
  max-width: 1100px;
  margin: 110px auto 0;
  z-index: 1;
}
.content-page:after {
  content: '';
  display: table;
  clear: both;
}
