.flexible-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.content-item {
  margin: 10px;
}
textarea {
  display: block;
  width: 495px;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #888888;
  outline: none;
  resize: none;
}
textarea:focus {
  border-color: #2371d2;
}
.send-btn {
  width: 150px;
  height: 40px;
  margin: 10px 0;
  background: #2371d2;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}
.send-btn:hover {
  background: #ff5722;
}
.icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  fill: #ff5722;
}
.line {
  float: left;
  line-height: 32px;
}
.tr {
  margin-bottom: 10px;
}
.tr:after {
  content: '';
  display: table;
  clear: both;
}
.tr:last-child {
  margin-top: 20px;
}
.social {
  fill: #000;
}
.twitter:hover {
  fill: #00aced !important;
}
.facebook:hover {
  fill: #3b5998 !important;
}
.google:hover {
  fill: #dd4b39 !important;
}
.vk:hover {
  fill: #45668e !important;
}
.youtube:hover {
  fill: #bb0000 !important;
}
