.flexible-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.content-item {
  margin: 10px;
}
textarea {
  display: block;
  width: 800px;
  border-radius: 0;
  border-color: #888;
  outline: none;
  resize: none;
}
textarea:focus {
  border-color: #2371d2;
}
.send-btn {
  width: 150px;
  height: 40px;
  margin: 10px 0;
  background: #2371d2;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}
.send-btn:hover {
  background: #ff5722;
}
