body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.flexible-menu {
	margin: 40px auto 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	
}

.item {
	width: 200px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	font-family: sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	text-decoration: none;
	margin: 10px;
	background: #ff5722;
	color: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.4);
}

.item:hover {
	text-decoration: underline;
	background: #2371d2;
}

.logo svg {
	display: block;
	width: 238px;
	margin: 0 auto;
	height: 500px;
}

g#layer1 {
	transform: translate(-251px, -300px) scale(1);
}

.icon {
	width: 32px;
	height: 32px;
	margin-right: 10px;
	fill: #ff5722;
}

.line {
	float: left;
	line-height: 32px;
}

.tr {
	margin-bottom: 10px;
}

.tr:after {
	content: '';
	display: table;
	clear: both;
}



